{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "importOrder": [
    "^react",
    "^[a-zA-Z]",
    "<THIRD_PARTY_MODULES>",
    "^@/app(.*)$",
    "^@/pages(.*)$",
    "^@/features(.*)$",
    "^@/shared(.*)$",
    "^@/static(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
